$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(128, 128, 128);
$paleblue: rgb(129, 209, 255);
$brightblue: rgb(34, 158, 216);
$pink: rgb(210, 34, 216);

html {
  height: 100%;
}

body{
  // used this for background: https://stackoverflow.com/questions/19725150/how-to-combine-two-css3-gradients 
  background: 
    linear-gradient(to right, rgba(245, 102, 255, 0.4) 0%, rgba(144, 85, 255, 0.4) 50%,
  rgba(43, 160, 255, 0.4) 100%), 
    linear-gradient(to bottom, rgba(128, 128, 128, 0.65) 0%, rgba(39, 39, 39, 0.75) 50%, 
  rgba(0, 0, 0, 1) 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: 0;
} 

li {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
} 

li a {
  text-decoration: none;
  color: $white;
}

li a:hover {
  color: $brightblue;
}

.active {
  color: $pink;
  text-decoration: underline;
}

#logo {
  display: flex;
  justify-content: center;
  height: 50px;
}

.header {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  display: flex;
	align-items: center;
  justify-content: space-between;
  .sitename {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: $white;
  }
  .header-nav ul li {
    padding: 0 0 0 40px;
  }
  a {
    text-decoration: none;
  }
}

// New post view
.create-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 70px;
  .create{
    background-color:rgba(255, 255, 255, 0.60);
    color: $white;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    .error {
      color: $pink;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .img-error {
      color: $pink;
      font-size: 22px;
      font-weight: 700;
    }
    button {
      border: none;
      outline: none;
      background-color: rgba(255, 255, 255, 0);
      padding: 6px;
      margin: 8px 6px -6px 6px;
      font-size: 20px;
    }
    button:hover {
      transform: scale(1.1);
      box-shadow: 0 2px 2px rgba(100, 100, 100, 0.4);
      transition: all .2s ease-in-out;
    }
  }
}

// Editing view
.edit-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 70px;
  .editor{
    background-color: rgba(255, 255, 255, 0.60);
    color: $white;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    .error {
      color: $pink;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .img-error {
      color: $pink;
      font-size: 22px;
      font-weight: 700;
    }
    button {
      border: none;
      outline: none;
      background-color: rgba(255, 255, 255, 0);
      padding: 6px;
      margin: 6px 6px 0 6px;
    }
    button:hover {
      transform: scale(1.1);
      box-shadow: 0 2px 2px rgba(100, 100, 100, 0.4);
      transition: all .2s ease-in-out;
    }
    .input {
      margin-bottom: 10px;
      margin-top: 0px;
      .justified-left{
        text-align: left;
      }
    }
  }
}

// All posts view
.home {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 20px 20px;
  .input Input {
    margin-bottom: 30px;
  }
  .welcome{
    margin: 40px 0;
    font-size: 20px;
    text-align: center;
  }
  .tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
    .tile {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 240px;
      margin: 20px;
      padding:0;
      img{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height:240px;
        width: 240px;
        margin: 0;
        padding:0;
      }
      .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px 10px;
        background-color: rgba(0, 0, 0, 0.65);
        .title{
          text-decoration: none;
          font-size: 26px;
          color: rgb(129, 209, 255);
        }
        a.title:hover{
          color: $pink;
          transform: scale(1.15);
          transition: all .2s ease-in-out;
        }
        .artist {
          color: $white;
          margin: 4px;
        }
      }
    }
  } 
}

// Single post view
.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  .detail {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: rgba(255, 255, 255, 0.60);
    color: $white;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    #cover {
      height: 300px;
    }
    .left{
      .tags {
        background-color: rgba(43, 160, 255, 0.4);
        border-radius: 50px;
        width: auto;
        align-items: center;
        color: $black;
        margin-top: 20px;
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 10px;
      padding-left: 40px;
      width: 300px;
      .title {
        padding-bottom: 10px;
        font-size: 36px;
        color: $gray;
      }
      .artist {
        font-size: 26px;
        color: $gray;
      }
      .buttons {
        button {
          border: none;
          outline: none;
          background-color: rgba(255, 255, 255, 0);
          padding: 6px;
          margin: 6px;
        }
        button:hover {
          transform: scale(1.1);
          box-shadow: 0 2px 2px rgba(100, 100, 100, 0.4);
          transition: all .2s ease-in-out;
        }
      }
    }
  }
}
.input Input {
  padding: 10px;
  font-family: 'Lato', sans-serif;
  margin: 5px 0;
  width: 300px;
  border: 2px solid $brightblue;
  border-radius: 5px;
}

.input Input:focus {
  outline-color: $pink;
}

.input TextArea {
  padding: 10px;
  font-family: 'Lato', sans-serif;
  margin: 5px 0;
  width: 300px;
  height: 100px;
  border: 2px solid $brightblue;
  border-radius: 5px;
}

.input TextArea:focus {
  outline-color: $pink;
}

#fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  #post-error{
    text-align: center;
    margin: 60px;
    font-weight: 600;
    font-size: 32px;
  }
  img{
    margin-bottom: 60px;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    color:$black;
  }
  a:hover{
    color: $pink;
    text-decoration: underline;
  }
}

.tag {
  background-color: $paleblue;
  margin: 2px 4px;
  border-radius: 15px;
  padding: 0 6px 2px 6px;
  text-align: center;
  color: $black
}

.alltags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 4px 0 2px 0;
}